.about {
  overflow: hidden;

  /* Full height */
  min-height: 70vh; 
}
.light {
  background: white url(../../static/images/background.png) no-repeat right top;
  background-size: cover;
  color: #404040;
  transition: all 0.5s linear;
}

.dark {
  background: #363537 url(../../static/images/background.png) no-repeat right top;
  background-size: cover;
  color: #FAFAFA;
  transition: all 0.5s linear;
}

.about-container {
  margin: 0 auto;
}

.about-img-circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #6F6F6F;
  margin: auto;
 }

.about-img {
  width: 250px;
}

.about-skills {
  width: 100%;
}

.about h2 {
  margin: 12px 0;
  border-bottom: 3px solid #025f89;
  padding-top: 10px;
}

.about-skills-text {
  margin: 12px 0;
  padding: 5px 0;
  border-bottom: 2px dotted #989898;
}

.about p {
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
}

.icons a:hover, .icons a:focus { color: #11ABB0; }

