#contact {
  overflow: hidden;

  padding-left: 0;
  padding-right: 0;
}

.contact-light {
  background: rgb(100, 100, 100) url(../../static/images/background2.png) no-repeat right bottom;
  background-size: cover;
  color: white;
  transition: all 0.5s linear;
}

.contact-dark {
  background: #333 url(../../static/images/background2.png) no-repeat right bottom;
  background-size: cover;
  color: #FAFAFA;
  transition: all 0.5s linear;
}

#contact-mask {
  position: absolute;
  width: 100vw;
  height: 40vh;
}

.contact-mask-light {
  background: rgb(100, 100, 100) url(../../static/images/contact-white-mask.svg) no-repeat right top;
  background-size: contain;
  transition: all 0.5s linear;
}

.contact-mask-dark {
  background: #333 url(../../static/images/contact-dark-mask.svg) no-repeat right top;
  background-size: contain;
  transition: all 0.5s linear;
}

.contact-header {
  z-index: 100;
}

#contact .card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: url(../../static/images/background.png) no-repeat right top;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#contact .card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #168ac0 url(../../static/images/background.png) no-repeat right top;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
#contact .card .cardName {
  margin: 10px 0;
  color: #fff;
  background-color: #1080b4;
  border: 3px solid #1080b4;
  border-radius: 10px;
}

#contact .card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  margin: auto 0;
  background: url(../../static/images/background.png) no-repeat right top;
  background-color: #fff;
}
#contact .card .general .more {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

#contact .circle {
 border-radius: 50%;
 height: 120px;
 width: 120px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 5px solid #1080b4;
 margin: auto 0;
}

#contact .card .general p{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* copyright */
#contact .copyright {
  margin: 0;
  padding: 0;
}
#contact .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie #contact .copyright li {
 display: inline;
}
#contact .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
#contact .copyright  li:first-child:before {
  display: none;
}
a {
  transition-duration: 0.3s;
}
#contact a, #contact a:visited { color: #525252; }
#contact a:hover, #contact a:focus { color: #025f89; }

/* social links */
#contact .social-links {
 /* margin: 18px 0 30px 0; */
 padding: 0;
 font-size: 25px;
}
#contact .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #F06000;
}

@media only screen and (max-width: 0px) {
  .contact-mask {
    height: 10vh;
  }
}

@media only screen and (max-width: 480px) {
  .contact-mask {
    height: 12vh;
  }
  #contact .card {
    width: 450px;
    height: 500px;
    background-color: #fff;
    background: url(../../static/images/background.png) no-repeat right top;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  #contact .card .additional {
    position: absolute;
    width: 100%;
    height: 230px;
    background: #168ac0 url(../../static/images/background.png) no-repeat right top;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  #contact .card .general {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;

    margin-bottom: 0;
  }
}

@media only screen and (min-width: 600px) {
  .contact-mask {
    height: 15vh;
  }
}

@media only screen and (min-width: 960px) {
  .contact-mask {
    height: 20vh;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-mask {
    height: 30vh;
  }
}