#contact .card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: url(../../static/images/background.png) no-repeat right top;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#contact .card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #11ABB0 url(../../static/images/background.png) no-repeat right top;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
#contact .card .cardName {
  margin: 10px 0;
  color: #fff;
  background-color: #0e8286;
  border: 3px solid #0e8286;
  border-radius: 10px;
}

#contact .card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  margin: auto 0;
}
#contact .card .general .more {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

#contact .circle {
 border-radius: 50%;
 height: 120px;
 width: 120px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 5px solid #0e8286;
 margin: auto 0;
}

#contact .card .general p{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* copyright */
#contact .copyright {
  margin: 0;
  padding: 0;
}
#contact .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie #contact .copyright li {
 display: inline;
}
#contact .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
#contact .copyright  li:first-child:before {
  display: none;
}
a {
  transition-duration: 0.3s;
}
#contact a, #contact a:visited { color: #525252; }
#contact a:hover, #contact a:focus { color: #11ABB0; }

/* social links */
#contact .social-links {
 /* margin: 18px 0 30px 0; */
 padding: 0;
 font-size: 25px;
}
#contact .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #F06000;
}

@media only screen and (max-width: 480px) {
  #contact .card {
    width: 450px;
    height: 500px;
    background-color: #fff;
    background: url(../../static/images/background.png) no-repeat right top;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  #contact .card .additional {
    position: absolute;
    width: 100%;
    height: 230px;
    background: #11ABB0 url(../../static/images/background.png) no-repeat right top;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  #contact .card .general {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;

    margin-bottom: 0;
  }
}