.header {
    /* The image used */
    background-image: url(../../static/images/header-background.svg);
    /* background-image: url(https://cdn.dribbble.com/users/159888/screenshots/3175882/santa_claws.png);
    background-image: linear-gradient(to top right,#1136b0,#115bb0,#11ABB0); */

    /* Full height */
    height: 100vh; 
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 10vh;
    
}
#header {
    padding-left: 10vw;
    padding-right: 10vw;
}
.phone-frame {
    /* The image used */
    /* background-image: url(../../static/images/hero-pattern-bg.png); */
    background-color: rgba(0, 0, 0, 0.05);

    /* Full height */
    height: 95vh; 
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: solid white;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.phone-top {
    border: 2px solid white;
    width: 20%;
    margin: auto;
    margin-top: 5vh;
}
.phone-screen {
    /* The image used */
    background-image: url(../../static/images/hero-pattern-bg.png);
    background-color: rgba(0, 0, 0, 0.1);

    /* Full height */
    height: 95vh; 
    width: 90%;

    margin: auto;
    margin-top: 7vh;

    border: 0.1px solid white;
    /* border-radius: 25px; */
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.header-object-container {
    position: relative;
}
.header-object-img {
    position: absolute;
    width: 30%;
    top: 40vh;
    right: 5vw;

    animation: swing 10s;
    animation-iteration-count: infinite; 
}

@keyframes swing {
    0% { transform: translate(4px, 4px) rotate(5deg); }
    50% { transform: translate(-4px, -4px) rotate(-5deg); }
    100% { transform: translate(4px, 4px) rotate(5deg); }
}

#header hr{
    width: 10%;
    margin: 10px auto;
    border-color: rgba(180, 180, 180, .4);
}

@media only screen and (min-width: 0px) {
    #header {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    #header p {
        font-size: 10px;
    }
    #header .responsive-headline{
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    #header {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #header p {
        font-size: 12px;
    }
    #header .responsive-headline{
        font-size: 40px;
    }
}

@media only screen and (min-width: 960px) {
    #header {
        padding-left: 15vw;
        padding-right: 15vw;
    }
    #header p {
        font-size: 15px;
    }
    #header .responsive-headline{
        font-size: 50px;
    }
}

@media only screen and (min-width: 1280px) {
    #header {
        padding-left: 20vw;
        padding-right: 20vw;
    }
    #header p {
        font-size: 20px;
    }
    #header .responsive-headline{
        font-size: 60px;
    }
}