.App {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #333333;
  transition: top 1s;
}

.show {
  top: 0;
}
.hide {
  top: -120px;
}

.header_link {
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
  background-color: #333333;
  transition: color 0.3s linear;
}

.selected {
  border-bottom: 3px solid #11ABB0;
  color: #11ABB0;
}
